.bottom_navigator {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: calc(env(safe-area-inset-bottom) + 50px);
  background-color: #fff;
  text-align: center;
  z-index: 999;
  border-top: 0.5px solid #dddddd;
}
.bottom_navigator > div {
  flex: 1;
}
.bottom_navigator > div > a > img {
  width: 48px;
}
